<footer class="bg-dark text-white text-center py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>About Us</h5>
          <p>Learn more about our bus reservation system and our mission to provide convenient and reliable travel options.</p>
        </div>
        <div class="col-md-4">
          <h5>Contact Us</h5>
          <p>Email: supportusreservation.com</p>
          <p>Phone: +1 234 567 890</p>
        </div>
        <div class="col-md-4">
          <h5>Follow Us</h5>
          <a href="#" class="text-white me-2"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="text-white me-2"><i class="fab fa-twitter"></i></a>
          <a href="#" class="text-white"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
      <div class="mt-3">
        <p>&copy; 2025 Bus Reservation System. All rights reserved.</p>
      </div>
    </div>
  </footer>