<nav class="navbar navbar-expand-lg navbar-dark" [ngClass]="{'bg-dark': role === 'user', 'bg-primary shadow-sm': role === 'admin'}">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">{{ role === 'user' ? 'Bus Reservation' : 'Admin Panel' }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="role === 'user' ? '#userNavbarContent' : '#adminNavbarContent'"
      aria-controls="userNavbarContent adminNavbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars text-light"></i>
    </button>
    <div class="collapse navbar-collapse" [id]="role === 'user' ? 'userNavbarContent' : 'adminNavbarContent'">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <ng-container *ngIf="role === 'user'">
          <li class="nav-item">
            <a routerLink="/home" routerLinkActive="active" class="nav-link" aria-current="page">
              <i class="fas fa-home fa-lg mb-1"></i> Home
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/search-bus" routerLinkActive="active" class="nav-link" aria-current="page">
              <i class="fas fa-magnifying-glass fa-lg mb-1"></i> Search Buses
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/feedback" routerLinkActive="active" class="nav-link" aria-current="page">
              <i class="fas fa-comment fa-lg mb-1"></i> Feedback
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/my-reservation" routerLinkActive="active" class="nav-link" aria-current="page">
              <i class="fas fa-bus fa-lg mb-1"></i> My Reservation
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/about-us" routerLinkActive="active" class="nav-link" aria-current="page">
              <i class="fas fa-people-group fa-lg mb-1"></i> About Us
            </a>
          </li>
        </ng-container>
        <ng-container *ngIf="role === 'admin'">
          <li class="nav-item">
            <a class="nav-link" routerLink="/addbus" routerLinkActive="active">
              <i class="fas fa-bus me-1"></i> Add Bus
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/get-all-booking" routerLinkActive="active">
              <i class="fas fa-calendar-check me-1"></i> Reservations
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/bus-list" routerLinkActive="active">
              <i class="fa-solid fa-bus-simple"></i> All Buses
            </a>
          </li>
        </ng-container>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" (click)="logout()" routerLink="/login">
            <i class="fas fa-sign-out-alt me-1"></i> Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
<app-footer></app-footer>