<div class="py-5 reservation-container">
  <div class="container">
    <div class="row">
      <h2 *ngIf="!isBooked" class="text-warning">No Bookig available</h2>
      @for (item of reservation; track $index) {
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Reservation Details</h5>
            <p class="card-text"><strong>Reservation Number:</strong> {{ item.reservation.id }}</p>
            <p class="card-text"><strong>Bus No:</strong> {{ item.bus.busNo }}</p>
            <p class="card-text"><strong>From:</strong> {{ item.bus.routeFrom | uppercase}}</p>
            <p class="card-text"><strong>To:</strong> {{ item.bus.routeTo | uppercase}}</p>
            <p class="card-text"><strong>Price:</strong> {{ item.bus.price |currency:'INR'}}</p>
            <p class="card-text"><strong>Time:</strong> {{ item.bus.departureTime }}</p>
            <p class="card-text"><strong>Date:</strong> {{ item.reservation.date | date:'short' }}</p>
            <p class="card-text"><strong>Total Amount:</strong> {{ item.reservation.totalAmount | currency:'INR'}}</p>
            <button (click)="showPassengerDetails(item)" class="btn btn-primary">View Passenger Details</button>
            <button (click)="deleteReservation(item.reservation.id)" class="btn btn-danger">Delete Reservation</button>
            <div class="mt-2">
              <button (click)="openFeedbackInput(item.reservation.id)" class="btn btn-success mt-2">Add Feedback</button>
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </div>

  @if (selectedItem) {
    <div class="modal-overlay">
      <div class="modal-card">
        <div class="modal-card-content scrollable-content"> <h5 class="card-title">Passenger Details</h5>
          @for (pass of selectedItem.reservation.passengers; track $index) {
          <p class="card-text"><strong>Name:</strong> {{ pass.name }}</p>
          <p class="card-text"><strong>Age:</strong> {{ pass.age }}</p>
          <p class="card-text"><strong>Gender:</strong> {{ pass.gender }}</p>
          <p class="card-text"><strong>Seat Number:</strong> {{ pass.seatNumber }}</p>
          <hr>
          }
          <button (click)="closePassengerDetails()" class="btn btn-secondary">Close</button>
        </div>
      </div>
    </div>
  }

  @if (showFeedbackInput) {
  <div class="modal-overlay">
    <div class="modal-card">
      <div class="modal-card-content">
        <h5 class="card-title">Add Feedback</h5>
        <textarea [(ngModel)]="feedbackStatements[getFeedbackIndex()]" placeholder="Enter feedback" class="form-control"></textarea>
        <button (click)="addFeedback()" class="btn btn-success mt-2">Submit</button>
        <button (click)="closeFeedbackInput()" class="btn btn-secondary mt-2">Close</button>
      </div>
    </div>
  </div>
  }
</div>