.background-container {
  position: relative;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  padding-bottom: 50px;
}

.content {
  padding: 50px;
  border-radius: 10px;
  text-align: center;
  margin-top: 50px;
}

.content h1,
.content p {
  opacity: 1.0;
}

.card {
  transition: transform 0.3s ease; /* Smooth transition for shake effect */
}

.card:hover {
  animation: shake 0.5s; /* Apply shake animation on hover */
  animation-iteration-count: 1;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease; /* Smooth transition for zoom effect */
}

.card:hover .card-img-top {
  transform: scale(1.1); /* Zoom image on hover */
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}