<div class="background-container">
  <div class="content">
    <h1 class="mb-3">Welcome to Our Bus Reservation System</h1>
    <p class="mb-4">
      Book your bus tickets easily and conveniently with our user-friendly
      platform. We offer a wide range of routes and schedules to suit your
      travel needs.
    </p>
    @if(role==="user"){
    <button class="btn btn-primary btn-lg" (click)="navigateToSearch()">
      Search Bus
    </button>
  }
  </div>

  <div class="container mt-5">
    <h2 class="text-center mb-4">Our Services</h2>
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <img src="busimg1.jpg" class="card-img-top" alt="Service 1" />
          <div class="card-body">
            <h5 class="card-title">Wide Range of Routes</h5>
            <p class="card-text">
              We offer a vast network of bus routes, connecting major cities and
              towns across the region.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <img src="busimg2.jpg" class="card-img-top" alt="Service 2" />
          <div class="card-body">
            <h5 class="card-title">Comfortable Buses</h5>
            <p class="card-text">
              Travel in comfort with our modern and well-maintained buses,
              equipped with comfortable seating and amenities.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <img src="bus3.jpg" class="card-img-top" alt="Service 3" />
          <div class="card-body">
            <h5 class="card-title">Easy Online Booking</h5>
            <p class="card-text">
              Book your tickets online in just a few clicks. Our user-friendly
              platform makes booking quick and easy.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>