<div class="background-container">
    <div class="content">
        <h1 class="mb-3">About Us</h1>
        <p class="mb-4">
          Welcome to our Bus Reservation System! We are dedicated to providing you with a seamless and convenient way to book bus tickets online. Our platform offers a wide range of routes and schedules to suit your travel needs.
        </p>
        <p class="mb-4">
          Our mission is to make bus travel easy and accessible for everyone. We strive to offer the best customer service and ensure that your journey is comfortable and hassle-free. Thank you for choosing our service!
        </p>
        <p class="mb-4">
          If you have any questions or need assistance, please feel free to contact us. We are here to help you with all your travel needs.
        </p>
    </div>
  </div>