<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card shadow p-4 rounded" style="width: 300px;background-color: white;">
    <div class="text-center mb-3">
      <img src="buslogo.jpg" alt="Bus Icon" style="width: 50px;">
      <h4 class="text-primary mt-2">Bus Reservation System</h4>
    </div>
    <h2 class="text-center mb-3 text-primary">Login</h2>
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <div class="mb-2">
        <label for="username" class="form-label small">Username</label>
        <input type="text" class="form-control form-control-sm" id="username" [(ngModel)]="username" name="username" #usernameInput="ngModel" required>
        <div *ngIf="usernameInput.invalid && (usernameInput.dirty || usernameInput.touched)" class="text-danger small">
          <div *ngIf="usernameInput.errors?.['required']">Username is required.</div>
          <!-- <div *ngIf="usernameInput.errors?.['minlength']">Username must be at least 4 characters.</div>
          <div *ngIf="usernameInput.errors?.['maxlength']">Username must be at most 20 characters.</div> -->
        </div>
      </div>
      <div class="mb-2">
        <label for="password" class="form-label small">Password</label>
        <input type="password" class="form-control form-control-sm" id="password" [(ngModel)]="password" name="password" #passwordInput="ngModel" required minlength="8" maxlength="14" >
        <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)" class="text-danger small">
          <div *ngIf="passwordInput.errors?.['required']">Password is required.</div>
          <!-- <div *ngIf="passwordInput.errors?.['minlength']">Password must be between 8 and 14 characters.</div>
          <div *ngIf="passwordInput.errors?.['maxlength']">Password must be between 8 and 14 characters.</div>
          <div *ngIf="passwordInput.errors?.['pattern']">Password must contain at least one uppercase letter, one number, and one special character.</div> -->
        </div>
      </div>
      <div class="d-grid">
        <button type="submit" class="btn btn-success btn-sm" [disabled]="loginForm.invalid">Login</button>
      </div>
      <div *ngIf="errorMessage" class="mt-2 text-danger text-center">
        {{ errorMessage }}
      </div>
    </form>
    <div class="text-center mt-2">
      <p class="small">Don't have an account? <a routerLink="/register" class="text-info">Register</a></p>
    </div>
  </div>
</div>