<div class="container mt-4 feedback-container">
  <h2>Feedback List</h2>
  <div *ngIf="deleteMessage" class="alert alert-success">{{ deleteMessage }}</div>
  <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
  <div class="row">
    <div class="row">
      @if(!isFeedBackAvilable){<h2 class="text-warning">No feedback available</h2>}
      <div *ngFor="let feedback of feedbackList" class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div *ngIf="editingFeedbackId !== feedback.feedBackId">
              <h5 class="card-title">Reservation Number: {{ feedback.reservationId }}</h5>
              <p class="card-text"><strong>FeedBack:</strong> {{ feedback.complaintStatement }}</p>
              <p class="card-text"><strong>Date:</strong> {{ feedback.date | date:'short' }}</p>
              <button class="btn btn-primary btn-sm mr-2" (click)="startEditing(feedback)">Edit</button>
              <button class="btn btn-danger btn-sm" (click)="deleteFeedback(feedback.feedBackId)">Delete</button>
            </div>
            <div *ngIf="editingFeedbackId === feedback.feedBackId">
              <div class="form-group">
                <label>Complaint:</label>
                <input type="text" class="form-control" [(ngModel)]="editedFeedback.complaintStatement" />
              </div>
              <button class="btn btn-success btn-sm mr-2" (click)="saveFeedback()">Save</button>
              <button class="btn btn-secondary btn-sm" (click)="cancelEditing()">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
